@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;700&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;
overflow:hidden;

font-family:'Quicksand',sans-serif;

background:
linear-gradient(
180deg,
#fde7f0,
#fff8f3
);

}



.scene{

height:100vh;
width:100%;

display:flex;

justify-content:center;
align-items:center;

flex-direction:column;

text-align:center;

padding:30px;

position:absolute;

transition:1.5s ease;

}


.hidden{

opacity:0;
pointer-events:none;

transform:scale(1.15);

}



h1{

font-family:'Pacifico',cursive;

font-size:40px;

color:#df7398;

}



p{

margin-top:25px;

font-size:20px;

line-height:1.7;

color:#66545d;

}



button{

margin-top:35px;

padding:16px 35px;

border:none;

border-radius:50px;

background:#ef91ae;

color:white;

font-size:18px;

box-shadow:
0 10px 30px #f3bfd0;

}



.character{

font-size:90px;

animation:floating 3s infinite;

}


@keyframes floating{

50%{

transform:translateY(-15px);

}

}



.heart{

font-size:120px;

animation:beat 1.5s infinite;

}


@keyframes beat{

50%{

transform:scale(1.2);

}

}



.moon{

font-size:120px;

animation:floating 3s infinite;

}



.night{

background:

linear-gradient(
#25254d,
#5a4670
);

}


.night h1,
.night p{

color:white;

}



.petal{

position:absolute;

font-size:25px;

animation:fall 10s infinite linear;

}


@keyframes fall{

from{

transform:translateY(-10vh);

}

to{

transform:translateY(110vh);

}

}
